
<nav class="navbar navbar-light" style="background-color: rgb(194, 248, 180);">
  <div class="container-fluid">
      <ul class="nav justify-content-start" >
          <li class="nav-item" routerLinkActive="active">
            <a  class="nav-link navbar-brand" href="#">Home</a>
          </li>
        </ul>

    <ul class="nav justify-content-end">
      <li class="nav-item" routerLinkActive="active">
          <a  class="nav-link navbar-brand" >Hello, Sharath</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="../login" class="nav-link navbar-brand" href="#" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
